.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 24px;
  margin: 0 auto;
  gap: 24px;
}

.example-card {
  background-color: white;
  color: black;
  max-width: 350px;
}

.card__image {
  width: 100%;
  margin-bottom: 10px;
  height: 250px;
  object-fit: cover;
}

.card__buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card__desc {
  max-height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

